<!-- NG-ZORRO -->


<body>
  <nz-layout>
    <nz-header>
      <div nz-row>
        <!-- main icon -->
        <div nz-col nzSpan="6"><img src="/assets/icon.png"></div>
        <!-- Serch Box -->
        <div nz-col nzSpan="12">
          <form class="form-inline ml-3">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input type="text" nz-input placeholder="input search text" />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
            </ng-template>
          </form>
        </div>
        <!-- Dropdown -->
        <div nz-col nzSpan="6">
          <!-- Account -->
          <a *ngIf="isLogin; else signIn" class="drop-down-menu" nz-dropdown [nzDropdownMenu]="accountDropDown">
            account
          </a>
          <nz-dropdown-menu #accountDropDown="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
              <li nz-menu-divider></li>
              <li nz-menu-item nzDisabled>3rd menu item（disabled）</li>
            </ul>
          </nz-dropdown-menu>
          <!-- SignIn -->
          <ng-template #signIn>
            <a #signIn class="drop-down-menu" nz-dropdown [nzDropdownMenu]="signInDropDown"  (click)="openLogIn()">
              Sign In
            </a>
          </ng-template>
          <nz-dropdown-menu #signInDropDown="nzDropdownMenu">
            <ul nz-menu>
              
              <li nz-menu>
                <button nz-button nzType="primary" (click)="openLogIn()">Sign In</button>
              </li>
              <li nz-menu>
                <button nz-button nzType="primary" (click)="openRegister()">Register</button>
              </li>
            </ul>
          </nz-dropdown-menu>

          <!-- Orders -->
          <a class="drop-down-menu" nz-dropdown [nzDropdownMenu]="orders">
            orders

          </a>
          <nz-dropdown-menu #orders="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
              <li nz-menu-divider></li>
              <li nz-menu-item nzDisabled>3rd menu item（disabled）</li>
            </ul>
          </nz-dropdown-menu>
          <!-- carts -->
          <a class="drop-down-menu" nz-dropdown [nzDropdownMenu]="carts">
            carts

          </a>
          <nz-dropdown-menu #carts="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>

            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>

    <!-- While scroll down -->
    <div id="menu-sroll-down" style="display: none;" nz-row>
      <!-- main icon -->
      <div nz-col nzSpan="6"><img src="/assets/icon.png"></div>
      <!-- Serch Box -->
      <div nz-col nzSpan="12">
        <form class="form-inline ml-3">
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="input search text" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
          </ng-template>
        </form>
      </div>

      <!-- Dropdown -->
      <div nz-col nzSpan="6">
        <!-- Account -->
        <a class="drop-down-menu" nz-dropdown [nzDropdownMenu]="account">
          account
        </a>
        <nz-dropdown-menu #account="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>1st menu item</li>
            <li nz-menu-item>2nd menu item</li>
            <li nz-menu-divider></li>
            <li nz-menu-item nzDisabled>3rd menu item（disabled）</li>
          </ul>
        </nz-dropdown-menu>
        <!-- Orders -->
        <a class="drop-down-menu" nz-dropdown [nzDropdownMenu]="orders">
          orders

        </a>
        <nz-dropdown-menu #orders="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>1st menu item</li>
            <li nz-menu-item>2nd menu item</li>
            <li nz-menu-divider></li>
            <li nz-menu-item nzDisabled>3rd menu item（disabled）</li>
          </ul>
        </nz-dropdown-menu>
        <!-- carts -->
        <a class="drop-down-menu" nz-dropdown [nzDropdownMenu]="carts">
          carts
        </a>
        <nz-dropdown-menu #carts="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>1st menu item</li>

          </ul>
        </nz-dropdown-menu>
      </div>

    </div>


    <nz-content>
      Content
      <router-outlet></router-outlet>
      
    </nz-content>
    <nz-footer>Footer</nz-footer>
  </nz-layout>
  <!-- <router-outlet></router-outlet> -->

  <nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible"
    nzTitle="" (nzOnClose)="close()">
    <div nz-row>
      <nz-radio-group [(ngModel)]="sOrL" nzButtonStyle="solid">
        <label nz-radio-button nzValue="S">Sign In</label>
        <label nz-radio-button nzValue="R">Register</label>
       
      </nz-radio-group>
    </div>

    <div *ngIf="sOrL=='S'; else notSignUp">
      <app-sign-up></app-sign-up>
      
    </div>
    <ng-template #notSignUp>
      <app-log-in></app-log-in>
    </ng-template>

  </nz-drawer>


  

</body>